<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="thin centred">Configure bot</h1>
		<p class="large centred">@botname@example.com</p>
	</div>
	
	<div class="container centred">
		<form action="/do/bot/edit" method="post" class="full-width">
			<div class="row">
				<label for="username" class="large">Username</label>
				<input type="text" name="username" value="Bot Name">
			</div>
			<div class="row">
				<label for="freq" class="large">Post frequency (minutes)</label>
				<input type="number" min="15" max="240" step="5" value="30" name="freq"> 
			</div>
			<div class="row">
				<label for="cw" class="large">Content warning (subject)</label>
				<input type="text" placeholder="None" name="cw">
			</div>
			<div class="row">
				<label for="length" class="large">Maximum post length (characters)</label>
				<input type="number" min="100" max="5000" value="500" name="length">
			</div>
			<div class="row">
				<label for="fake-mentions" class="large">Fake mentions</label>
				<select name="fake-mentions">
					<option value="full">At any time</option>
					<option value="start" default>Only at the start of posts</option>
					<option value="never">Never</option>
				</select>
			</div>
			<div class="row">
					<label for="fake-mention-style" class="large">Fake mention style</label>
					<select name="fake-mention-style">
						<option value="full">@user@instan.ce</option>
						<option value="brief" default>@user</option>
					</select>
				</div>
			<div class="row">
				<label for="privacy" class="large">Post privacy</label>
				<select name="privacy">
					<option value="public">Public</option>
					<option value="unlisted">Unlisted</option>
					<option value="followers">Followers only</option>
				</select>
			</div>
			<div class="row">
				<label for="cw-learning" class="large">Learn from posts with content warnings (subjects)</label>
				<input type="checkbox" name="cw-learning">
			</div>
			<div class="row">
				<label for="replies" class="large">Enable replies</label>
				<input type="checkbox" name="replies">
			</div>
			<div class="container centred">
				<button class="button btn-primary"><i class="fas fa-save"></i> Save</button>
				<a href="/" class="button btn-secondary"><i class="fas fa-times"></i> Cancel</a>
				<a href="#" class="button btn-secondary"><i class="fas fa-question"></i> Help</a>
			</div>
		</form>
	</div>

	{% include 'footer.html' %}
</body>
</html>
