<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container centred">
		<h1 class="thin centred">Set accounts to learn from</h1>
		<p class="large centred">{{ handle }}</p>
		<p class="centred" style="margin: 50px 0;">
			<a class="button btn-primary btn-large" href="/bot/accounts/add" role="button"><i class="fas fa-plus"></i> Add account</a>
			<a class="button btn-secondary btn-large" href="/" role="button"><i class="fas fa-arrow-left"></i> Back</a>
		</p>
	</div>
	
	<div class="container" style="min-height: 300px;">
		{% for user in users %}
		<div class="row light">
			<div class="panel-icon {{ "online" if user['enabled'] else "offline" }}"></div>
			<div class="panel-text">
				{% set handle_list = user['fedi_id'].split('@') %}
				<div class="panel-name">@{{ handle_list[1] }}<span class="subtle tiny">@{{ handle_list[2] }}</span></div>				
				<div class="panel-status">{{ "Active" if user['enabled'] else "Inactive" }}, {{ post_count[user['fedi_id']] }} posts in database</div>
			</div>
			<div class="panel-actions">
				<a class="button btn-secondary" href="/bot/accounts/toggle/{{ user['fedi_id'] }}" title="Turn on/off"><i class="fas fa-power-off"></i></a><a class="button btn-dangerous" href="/bot/accounts/delete/{{ user['fedi_id'] }}" title="Delete"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		{% endfor %}
	</div>

	{% include 'footer.html' %}
</body>
</html>
