<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="thin centred">Add account</h1>
	</div>
	
	<div class="container centred">
		<form action="/bot/accounts/add" method="POST">
			{% if session['step'] == 1 %}
			<label for="account" class="important">Account handle</label>
			<input type="text" name="account" class="full-width" placeholder="@user@example.com">
			<br>

			{% elif session['step'] == 2 %}
			<h2 class="thin centred">Authentication required</h2>
			<p>{{ session['instance'] }} requires authentication to view public posts. Ensure you're signed in as {{ session['account'] }}, and click Next. You will be prompted to give FediBooks access to read your posts, which is required for your bot.</p>

			{% elif session['step'] == 3 %}

			<h2 class="thin centred">Authentication failure</h2>
			<p>FediBooks was unable to authenticate with {{ session['instance'] }}.</p>
			<p>Click back to try again. If you believe this is in error, you may <a href="https://github.com/Lynnesbian/FediBooks/issues/new/choose">file a bug report</a>.</p>

			{% else %}
			<h2 class="thin centred">Error</h2>
			<p>An unknown error has occurred.</p>

			{% endif %}

			<div class="container centred">
					<a href="/" class="button btn-secondary"><i class="fas fa-times"></i> Cancel</a>
				{% if session['step'] != 1 %}
					<a href="/bot/accounts/add/back" class="button btn-secondary"><i class="fas fa-arrow-left"></i> Back</a>
				{% endif %}
					<button class="button btn-primary"><i class="fas fa-arrow-right"></i> Next</button>
				</div>
		</form>
	</div>

	{% include 'footer.html' %}
</body>
</html>
