<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>
<body>
	<div class="container light">
		<h1 class='thin centred'>Home</h1>
		<p class="centred large">Hi there! You have 1 bots, all of which are currently active.</p>
		<p class="centred" style="margin: 50px 0;">
			<a class="button btn-primary btn-large" href="/bot/new" role="button"><i class="fas fa-robot"></i> New bot</a>
			<a class="button btn-secondary btn-large" href="/settings" role="button"><i class="fas fa-cog"></i> Account settings</a>
			<a class="button btn-secondary btn-large" href="/do/signout" role="button"><i class="fas fa-sign-out-alt"></i> Sign out</a>
			</p>
	</div>

	<div class="container" style="min-height: 300px;">
		<div class="row light">
			<div class="bot-icon"></div>
			<div class="bot-text">
				<div class="bot-name">My bot!!</div>
				<div class="bot-status">Online, learning from 3 accounts, 12345 posts in database</div>
			</div>
			<div class="bot-actions">
				<a class="button btn-dangerous" href="/bot/toggle/insert id here"><i class="fas fa-power-off"></i></a><a class="button btn-secondary" href="/bot/edit/insert id here"><i class="fas fa-pencil-alt"></i></a>
			</div>
		</div>
	</div>

	<div class="container">
		<h2>Support the author <i class="fas fa-heart"></i></h2>
		<p>FediBooks is a passion project I develop and maintain in my free time. If you'd like to contribute, you can do so here.</p>
		<a class="button btn-primary" href="https://patreon.com/Lynnesbian" role="button"><i class="fab fa-patreon"></i> Patreon</a>
		<a class="button btn-primary" href="https://paypal.me/Lynnesbian" role="button"><i class="fab fa-paypal"></i> PayPal</a>
		<a class="button btn-primary" href="https://ko-fi.com/Lynnesbian" role="button"><i class="fas fa-coffee"></i> Ko-fi</a>
	</div>
	{% include 'footer.html' %}
</body>
</html>
