<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="thin centred">Log in</h1>
	</div>
	
	<div class="container">
		<form>
				<label for="email">Email</label><br>
				<input type="email" name="email" placeholder="you@example.com">
				<br>
				<label for="password">Password</label><br>
				<input type="password" name="password" placeholder="password">
			</form>
	</div>

	{% include 'footer.html' %}
</body>
</html>
