<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="display-3 centred">Welcome!</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card">
					<h5 class="card-header">Login</h5>
					<div class="card-body">
						<form>
							<label for="email">Email</label><br>
							<input type="email" class="form-control" name="email">
							<label for="password">Password</label><br>
							<input type="password" class="form-control" name="password">
						</form>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<h5 class="card-header">Create account</h5>
					<div class="card-body">
						<form>
							<label for="email">Email</label><br>
							<input type="email" class="form-control" name="email">
							<label for="password">Password</label><br>
							<input type="password" class="form-control" name="password">
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr />
	</div>
</body>

</html>
