<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="thin centred">Log in</h1>
	</div>
	
	<div class="container centred">
		<form action="/do/login" method="POST">
			<p>
				<label for="email" class="important">Email</label>
				<input type="email" name="email" placeholder="you@example.com">
				<br>
				<label for="password" class="important">Password</label>
				<input type="password" name="password" placeholder="password">
			</p>
			<input type="submit" value="Log in" class="button btn-primary full-width">
		</form>
	</div>

	{% include 'footer.html' %}
</body>
</html>
