<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="thin centred">Welcome!</h1>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="column">
				<p class="centred">
					<a class="button btn-primary btn-large" href="/login">Log in</a>
					<br>
					Log in to your existing account.
				</p>
			</div>

			<div class="column">
				<p class="centred">
					<a class="button btn-primary btn-large" href="/signup">Sign up</a>
					<br>
					Create a new account.
				</p>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}
</body>
</html>
