<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FediBooks</title>
	{% include 'imports.html' %}
</head>

<body>
	<div class="container">
		<h1 class="thin centred">Welcome!</h1>
	</div>
	
	<div class="container">
		<p class="centred">
			<a class="button btn-primary btn-large" href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a>
			<br>
			Log in to your existing account.
		</p>

		<p class="centred">
			<a class="button btn-primary btn-large" href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
			<br>
			Create a new account.
		</p>
	</div>

	{% include 'footer.html' %}
</body>
</html>
